h2(class="text-center") InstantMCQ
h3(id="question") {{"Question: " + current.ques}}
div(id="answers")
	div(ng-repeat="answer in current.ans")
		button(class="btn-lg", ng-click="buttonHandler(answer)") {{answer}}