form(name="createQuestionForm")
		input(type="text", name="roomName", ng-model="roomId", placeholder="Room name to join?")
		button(type="button", ng-click="createRoom()") Create New
		button(type="button", ng-click="joinRoom()") Join