meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")

script(src='/socket.io/socket.io.js')
script(src='/una_js/una.js')
script(src='/js/controller.js')
script(src='/lib/jquery-1.11.0.min.js')

body
	h2 Controller
	div(id="container")
		h3(id="question")
		div(id="answers")