meta(name="viewport" content="width=device-width")

script(src='/lib/jquery-1.11.0.min.js')
script(src='https://www.google.com/jsapi')
script(src='/lib/flipclock.min.js')
script(src='/socket.io/socket.io.js')
script(src='/una_js/una.js')
script(src='/js/screen.js')

link(rel='stylesheet', href='/css/bootstrap.min.css')
link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
link(rel='stylesheet', href='/css/flipclock.css')

body
div
	div(style='display:inline-block')
		form(name="createQuestionFrom")
			div
				input(name="roomName",type="text", placeholder="Room name to join?")
			button(type="button", onclick="createRoom()") Create New
			button(type="button", onclick="joinRoom()") Join